section.buttons {
	margin-left: 30px;
	color: #347ab5;
	position: absolute;
	margin-top: 655px;
	z-index: 1;
	font-size: 1.2em;
}
section.buttons button {
	margin: -3px;
	width: 30px;
}
.sitemap {
	position: absolute;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
}

.sitemap ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
	text-align: center;
	position: relative;
}

.sitemap ul li {
	display: table-cell;
	text-align: center;
	padding: 50px 25px;
	position: relative;
}

.sitemap ul li a {
	border: 1px solid #ccc;
	background: #efefef;
	padding: 10px 40px 10px 55px;
	width: 190px;
	display: inline-block;
	position: relative;  
	z-index: 1;

}

.sitemap ul li a:hover { 
	text-decoration: none; 
	transition-delay: .3s; 
}


.sitemap ul li a:active { 
	background: yellow;
} 

.sitemap ul:before {
	content: "";
	height: 16px;
	top: 0px;
	left: 50%;
	right: 0;
	border-left: 1px solid #ccc;
	position: absolute; 
}

.sitemap > ul:before {
	content: none;
}

.sitemap ul li:after {
	content: "";
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	position: absolute;
	height: 76px;
	display: inline;
	top: 16px;
	left: 50%;
	right: 0;
	/*margin-top: -16px;
	margin-left: -50px;*/

}

.sitemap ul li ul li:before {
	content: "";
	border-top: 1px solid #ccc;
	position: absolute;
	height: 26px;
	display: inline;
	top: 16px;
	right: 50%;
	left: 0;
} 

.sitemap ul li ul li:first-child:before {
	border: none;
}

.sitemap ul li ul li:last-child:after {
	border-top: none;
}

.sitemap > ul > li:before, .sitemap > ul > li:after {
	content: none;
}

.sitemap li:first-child {
	content: none;
}

.after {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 130px;
	position: absolute;
	height: 32px;
	display: inline;
	margin-top: -16px;
	margin-left: -50px;
	z-index: -1;
}

.before2 {
	display: inline;
	width: 130px;
	position: absolute;
	height: 16px;
	margin-left: -80px;
	margin-top: -31px;
	border-right: 1px solid #ccc;
}
/**
.after2 {
	display: inline;
	border-bottom: 1px solid #ccc;
	width: 30px;
	position: absolute;
	height: 16px;
	margin-left: 0px;
}
**/
.before3 {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 130px;
	position: absolute;
	height: 16px;
	display: inline;
	margin-top: -16px;
	margin-left: -80px;
}
/**
.after3 {
	border: 1px solid #ccc;
	width: 80px;
	position: absolute;
	height: 48px;
	display: inline;
	margin-top: -48px;
	margin-left: -51px;
}
**/

.sitemap ul li.typehome a {
	background-image: url("../images/home.svg");
	background-position: 13px center;
	background-repeat: no-repeat;
	background-size: 20px;
}

.sitemap ul li.typegeneral a {
	background-image: url("../images/general.svg");
	background-position: 13px center;
	background-repeat: no-repeat;
	background-size: 20px;
}
section.sitemap {
	overflow: hidden;
}
.ui-sortable-helper:active:after {
	border: none;
}
.ui-sortable-helper:active:before {
	border: none;
}