.sitemap ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
}
.sitemap ul li {
	display: table-cell;
	text-align: center;
	padding: 30px 15px;
	position: relative;
}
.sitemap ul li a {
	border: 1px solid #ccc;
	background: #efefef;
	padding: 5px;
	width: 100px;
	display: inline-block;
	position: relative;
}
.sitemap ul:before {
	content: "";
	height: 16px;
	top: 0px;
	left: 50%;
	right: 0;
	border-left: 1px solid #ccc;
	position: absolute;
}
.sitemap ul li:after {
	content: "";
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	position: absolute;
	height: 16px;
	display: inline; 
	top: 16px;
	left: 50%;
	right: 0;
	/*margin-top: -16px;
	margin-left: -50px;*/

}
.sitemap ul li ul li:before {
	content: "";
	border-top: 1px solid #ccc;
	position: absolute;
	height: 16px;
	display: inline;
	top: 16px;
	right: 50%;
	left: 0;
}
.sitemap ul li ul li:first-child:before {
	border: none;
}
.sitemap ul li ul li:last-child:after {
	border-top: none;
}
.sitemap > ul > li:before, .sitemap > ul > li:after {
	content: none;	
}
.sitemap li:first-child {
	content: none;
} 

.after {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 130px;
	position: absolute;
	height: 32px;
	display: inline;
	margin-top: -16px;
	margin-left: -50px;
	z-index: -1;
}

.before2 {
	display: inline;
	width: 130px;
	position: absolute;
	height: 16px;
	margin-left: -80px;
	margin-top: -31px;
	border-right: 1px solid #ccc;
}
/**
.after2 {
	display: inline;
	border-bottom: 1px solid #ccc;
	width: 30px;
	position: absolute;
	height: 16px;
	margin-left: 0px;
}
**/
.before3 {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 130px;
	position: absolute;
	height: 16px;
	display: inline;
	margin-top: -16px;
	margin-left: -80px;
}
/**
.after3 {
	border: 1px solid #ccc;
	width: 80px;
	position: absolute;
	height: 48px;
	display: inline;
	margin-top: -48px;
	margin-left: -51px;
}
**/
